@{
    ViewData["Title"] = "Sobre";
}


<div class="container my-5 p-0">  
    <div id="home" class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="container">
            <div class="col">
                <h2 class="title d-flex justify-content-center">SOBRE MIM</h2>
                <div class="underline mb-5"></div>
            </div>
        </div> 
        <div class="container p-4">
            <div id="colum" class="card p-0 row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
                <div class="col">
                    <img src="/img/foto.png" class="img-fluid" alt="Lucas">              
                </div>               
                <div  class="col-lg-7 m-3">
                    <h4 class="mt-4">
                        Olá , Eu sou Lucas Silva
                    </h4>
                    <br />
                    <h5 class="H5">
                        Web Designer / Programador ASP. NET / SQl Server
                    </h5>                  
                    <p class="lead">
                        ​Sou um programador apaixonado por web design e desenvolvimento frontend. 
                        Com experiência em HTML, CSS e JavaScript, crio interfaces intuitivas e responsivas que melhoram a experiência do usuário. 
                        Estou sempre atualizado com as últimas tendências e tecnologias.                        
                    </p>    
                    <p class="lead">
                        Sou estudante de Engenharia de Software e possuo cursos profissionalizante em Desenvolvimento de Sistemas e Desenvolvimento Web, 
                        com ênfase na ferramenta ASP. NET. Minha formação me proporcionou uma sólida compreensão dos conceitos de programação e desenvolvimento 
                        de aplicações. Além disso, tenho conhecimento em design gráfico, o que me permite criar interfaces atraentes e funcionais. 
                        Estou sempre em busca de novos aprendizados e desafios que me ajudem a crescer na área da tecnologia.
                    </p>
                    <p class="lead">
                        Vamos conversar sobre como posso contribuir para o seu projeto!
                    </p>                   
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-lg-3">
                        <button type="button" class="btn-home">Baixar CV</button>
                    </div>
                </div>               
            </div>        
        </div>       
    </div>
</div>
